/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
@import "base/abstract/functions";
@import "base/abstract/mixins";
@import "base/abstract/variables";

@import "base/base";
@import "base/animations";
@import "base/utilities";
@import "base/typography";

@import "base/pages/home";

@import "base/components/button";

@import "base/layout/header";
@import "base/layout/grid"
