$color-primary: #7ed56f;
$color-primary-light: #8be2e7;
$color-grey-light-1: #eff1f3;
$color-primary-dark: #01afd6;
$color-white: #fff;
$color-grey: #777;

$vertical-gutter-row: 6rem;
$horizontal-gutter-col: 3rem;