.row {
    max-width: 114rem;
    background-color: $color-primary-light;
    margin: 0 auto;
    color: white;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    @include clearfix;


    [class^="col"]
    {
        background-color: red;
        float: left;

        &:not(:last-child) {
            margin-right: $horizontal-gutter-col;
        }
    }
    .col-1-2 {
        width: calc((100% - #{$horizontal-gutter-col}) / 2);
        
    }

    .col-1-3{
        width: calc((100% - 2*#{$horizontal-gutter-col})/3);
    }

    .col-2-3{
        width: calc(2*((100% - 2*#{$horizontal-gutter-col})/3) + #{$horizontal-gutter-col});
    }

    .col-1-4{
        width: calc((100% - 3*#{$horizontal-gutter-col})/4);
    }

    .col-2-4{
        width: calc(2*((100% - 3*#{$horizontal-gutter-col})/4) + #{$horizontal-gutter-col}) ;
    }
    .col-3-4{
        width: calc(3*((100% - 3*#{$horizontal-gutter-col})/4) + 2*#{$horizontal-gutter-col}) ;
    }

}