
.btn{

    &:link, btn:visited
    {
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 4rem;
    transition: all .2s;
    font-size: 1.6rem;
    }
    
    &--white
    {
    background-color: $color-white;
    color: $color-grey;
    
    }
    
    &:hover{
        transform: translateY(-2rem);
        box-shadow: 0 1rem 2rem ;
        
    }
    
    &:active
    {
        transform: translateY(-0.22rem);
        box-shadow: 0 0.5rem 1rem ;
    }
}